body{
    text-align: center;
    font-family: Helvetica;
}

.contenedor{
    border: 2px gainsboro solid;
    padding: 10px;
    display: inline-block;
    width: 70%;
}

.cabecera{
    background-color: yellowgreen;
    color: black;
    font-family: Arial;
    font-weight: bolder;
    text-align: left;
}

.titulo{
    margin: 5px 25px 5px 10px;
    display: inline;
}

.orientacion{
    display: inline;
}

.footer{
    background-color: grey;
}

.footer p{
    padding: 10px;
    color: whitesmoke;
    font-weight: bolder;
}
